:where(body) {
  margin: 0;
  
  *::-webkit-scrollbar {
    width: 8px;
    height: 5px;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }

  * {
    &:hover,
    &:focus {
      &::-webkit-scrollbar-thumb {
        background-color: var(--muted-border-color);
      }
    }
  }
}
