.icon,
.icons::before,
.icons::after {
  display: inline-flex;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: "Material Icons Round";
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  font-feature-settings: "liga";
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  user-select: none;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.icons {
  display: flex;
  align-items: center;
}
