@import '../variables';

.transision-modal-slide {
  background-color: rgb(0 0 0 / 30%);

  > * {
    align-self: flex-start;
    transform: translateY(0);

    @include media-less-sm {
      align-self: flex-end;
    }
  }

  &-enter-active,
  &-leave-active {
    transition: background-color 0.3s ease;

    > * {
      transition: transform 0.2s ease-in-out;
    }
  }

  &-enter-from,
  &-leave-to {
    background-color: rgb(0 0 0 / 0%);

    > * {
      transform: translateY(-150%);

      @include media-less-sm {
        transform: translateY(150%);
      }
    }
  }
}

.transision-modal-scale {
  opacity: 1;

  > * {
    opacity: 1;
    transform: scale(1);
  }

  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s ease;

    > * {
      transition-timing-function: ease;
      transition-duration: 0.2s;
      transition-property: transform, opacity;
    }
  }

  &-enter-from,
  &-leave-to {
    opacity: 1;

    > * {
      opacity: 0;
      transform: scale(90%);
    }
  }
}
