:where(.card) {
  padding: calc(var(--spacing) * 1.5);
  margin: var(--block-spacing-vertical) 0;
  background: var(--card-background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--card-box-shadow);
}
