@import "../variables";

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.3);

  > :where(*) {
    width: fit-content;
    height: fit-content;
    max-width: 100%;
    max-height: 100%;

    display: flex;
    flex-direction: column;
    padding: calc(var(--spacing) * 1.5);
    row-gap: calc(var(--spacing) * 1.5);

    > * {
      display: flex;
      align-items: center;
      margin: 0;

      > input[type="text"] {
        margin: 0;
      }
    }

    > h3 {
      font-size: 1.2em;
      margin: 0;
    }

    > nav {
      justify-content: flex-end;
      .devider {
        margin-left: 1em;
        margin-right: 1em;
        height: 1.5em;
        width: 1px;
        background-color: var(--muted-border-color);
      }

      a {
        text-decoration: none;
      }
    }
  }

  > article {
    width: 600px;
    max-width: 100%;
    align-self: flex-start;
    transform: translateY(0);
    border-radius: calc(var(--border-radius) * 2);
    
    @include media-less-sm {
      align-self: flex-end;
    }
  }

  &-enter-active,
  &-leave-active {
    transition: background-color 0.3s ease;

    > article {
      transition: transform 0.2s ease-in-out;
    }
  }

  &-enter-from,
  &-leave-to {
    background-color: rgba(0, 0, 0, 0);

    > article {
      transform: translateY(-150%);
      @include media-less-sm {
        transform: translateY(150%);
      }
    }
  }
}
