@import "../variables";

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0 0 0 / 30%);

  > :where(*) {
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--spacing) * 1.5);
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    max-height: 100%;
    padding: calc(var(--spacing) * 1.5);

    > * {
      display: flex;
      align-items: center;
      margin: 0;

      > input[type="text"] {
        margin: 0;
      }
    }

    > h3 {
      margin: 0;
      font-size: 1.2em;
    }

    > nav {
      justify-content: flex-end;

      .devider {
        width: 1px;
        height: 1.5em;
        margin-right: 1em;
        margin-left: 1em;
        background-color: var(--muted-border-color);
      }

      a {
        text-decoration: none;
      }
    }
  }

  > article {
    align-self: flex-start;
    width: 600px;
    max-width: 100%;
    border-radius: calc(var(--border-radius) * 2);
    transform: translateY(0);

    @include media-less-sm {
      align-self: flex-end;
    }
  }

  &-enter-active,
  &-leave-active {
    transition: background-color 0.3s ease;

    > article {
      transition: transform 0.2s ease-in-out;
    }
  }

  &-enter-from,
  &-leave-to {
    background-color: rgb(0 0 0 / 0%);

    > article {
      transform: translateY(-150%);

      @include media-less-sm {
        transform: translateY(150%);
      }
    }
  }
}
