// Enable responsive spacings for <header>, <main>, <footer>, <section>, <article>
$enable-responsive-spacings: false;

// Enable transitions
$enable-transitions: false;

// Enable overriding with !important
$enable-important: false;

// Enable responsive typography
// Fixed root element size if disabled
$enable-responsive-typography: false;

// Pico Lib
// --------------------

// Config
@import '@picocss/pico/scss/variables';

// Theming
@import '@picocss/pico/scss/themes/default';

// Layout
@import '@picocss/pico/scss/layout/document'; // html

// Content
@import '@picocss/pico/scss/content/typography'; // a, headings, p, ul, blockquote, ...
@import '@picocss/pico/scss/content/form'; // input, select, textarea, label, fieldset, legend
@import '@picocss/pico/scss/content/form-checkbox-radio'; // type=checkbox, type=radio, role=switch

// Component
@import '@picocss/pico/scss/components/nav';

// Utilities
@import '@picocss/pico/scss/utilities/accessibility'; // -ms-touch-action, aria-*
@import '@picocss/pico/scss/utilities/reduce-motion'; // prefers-reduced-motion
@import '@picocss/pico/scss/utilities/loading';

// Custom Styles
// --------------------
@import './layout/document';
@import './layout/filllayout';
@import './components/modal';
@import './components/breadcrumb';
@import './components/table';
@import './components/card';
@import './utilities/icons';
@import './utilities/transition';

:root {
  --border-radius: 0.5rem;
  --font-size: 105%;
}
