@import "../../../node_modules/@picocss/pico/scss/pico.slim.scss";

@import "../../../node_modules/@picocss/pico/scss/content/form-checkbox-radio";

@import "../../../node_modules/@picocss/pico/scss/components/modal";
@import "../../../node_modules/@picocss/pico/scss/components/nav";
@import "../../../node_modules/@picocss/pico/scss/components/dropdown";
@import "../../../node_modules/@picocss/pico/scss/components/card";

*::-webkit-scrollbar {
  height: 5px;
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

* {
  &:hover,
  &:focus {
    &::-webkit-scrollbar-thumb {
      background-color: var(--muted-border-color);
    }
  }
}

.icon {
  font-family: "Material Icons Round";
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.icons {
  align-items: center;
  &::after,
  &::before {
    font-size: 1.5em;
    font-family: "Material Icons Round";
  }
}
